/* color variables used across */
$col-amber: #f67e00;
$col-green: #398d14;
$col-red: #d0021b;
$col-white: #ffffff;
$col-grey: #666666;

$col-grey-dark: #606e7b;
$col-grey-light: #e9ecee;
$col-brand-skyblue: #4a90d9;
$col-brand-blue: #003056;
$col-spinner: #004b78;
